
*.pyd
*.tcl
*.enc
*.msg
dist/lib/tcl/tzdata/Africa/Abidjan
*.pyz
*.toc
dist/lib/tcl/tclIndex
dist/lib/tcl/tzdata/Africa/Accra
dist/lib/tcl/tzdata/Africa/Addis_Ababa
dist/lib/tcl/tzdata/Africa/Algiers
dist/lib/tcl/tzdata/Africa/Asmara
dist/lib/tcl/tzdata/Africa/Asmera
dist/lib/tcl/tzdata/Africa/Bamako
dist/lib/tcl/tzdata/Africa/Bangui
dist/lib/tcl/tzdata/Africa/Banjul
dist/lib/tcl/tzdata/Africa/Bissau
dist/lib/tcl/tzdata/Africa/Blantyre
dist/lib/tcl/tzdata/Africa/Brazzaville
dist/lib/tcl/tzdata/Africa/Bujumbura
dist/lib/tcl/tzdata/Africa/Cairo
dist/lib/tcl/tzdata/Africa/Casablanca
dist/lib/tcl/tzdata/Africa/Ceuta
dist/lib/tcl/tzdata/Africa/Conakry
dist/lib/tcl/tzdata/Africa/Dakar
dist/lib/tcl/tzdata/Africa/Dar_es_Salaam
dist/lib/tcl/tzdata/Africa/Djibouti
dist/lib/tcl/tzdata/Africa/Douala
dist/lib/tcl/tzdata/Africa/El_Aaiun
dist/lib/tcl/tzdata/Africa/Freetown
dist/lib/tcl/tzdata/Africa/Gaborone
dist/lib/tcl/tzdata/Africa/Harare
dist/lib/tcl/tzdata/Africa/Johannesburg
dist/lib/tcl/tzdata/Africa/Juba
dist/lib/tcl/tzdata/Africa/Kampala
dist/lib/tcl/tzdata/Africa/Khartoum
dist/lib/tcl/tzdata/Africa/Kigali
dist/lib/tcl/tzdata/Africa/Kinshasa
dist/lib/tcl/tzdata/Africa/Lagos
dist/lib/tcl/tzdata/Africa/Libreville
dist/lib/tcl/tzdata/Africa/Lome
dist/lib/tcl/tzdata/Africa/Luanda
dist/lib/tcl/tzdata/Africa/Lubumbashi
dist/lib/tcl/tzdata/Africa/Lusaka
dist/lib/tcl/tzdata/Africa/Malabo
dist/lib/tcl/tzdata/Africa/Maputo
dist/lib/tcl/tzdata/Africa/Maseru
dist/lib/tcl/tzdata/Africa/Mbabane
dist/lib/tcl/tzdata/Africa/Mogadishu
dist/lib/tcl/tzdata/Africa/Monrovia
dist/lib/tcl/tzdata/Africa/Nairobi
dist/lib/tcl/tzdata/Africa/Ndjamena
dist/lib/tcl/tzdata/Africa/Niamey
dist/lib/tcl/tzdata/Africa/Nouakchott
dist/lib/tcl/tzdata/Africa/Ouagadougou
dist/lib/tcl/tzdata/Africa/Porto-Novo
dist/lib/tcl/tzdata/Africa/Sao_Tome
dist/lib/tcl/tzdata/Africa/Timbuktu
dist/lib/tcl/tzdata/Africa/Tripoli
dist/lib/tcl/tzdata/Africa/Tunis
dist/lib/tcl/tzdata/Africa/Windhoek
dist/lib/tcl/tzdata/America/Adak
dist/lib/tcl/tzdata/America/Anchorage
dist/lib/tcl/tzdata/America/Anguilla
dist/lib/tcl/tzdata/America/Antigua
dist/lib/tcl/tzdata/America/Araguaina
dist/lib/tcl/tzdata/America/Argentina/Buenos_Aires
dist/lib/tcl/tzdata/America/Argentina/Catamarca
dist/lib/tcl/tzdata/America/Argentina/ComodRivadavia
dist/lib/tcl/tzdata/America/Argentina/Cordoba
dist/lib/tcl/tzdata/America/Argentina/Jujuy
dist/lib/tcl/tzdata/America/Argentina/La_Rioja
dist/lib/tcl/tzdata/America/Argentina/Mendoza
dist/lib/tcl/tzdata/America/Argentina/Rio_Gallegos
dist/lib/tcl/tzdata/America/Argentina/Salta
dist/lib/tcl/tzdata/America/Argentina/San_Juan
dist/lib/tcl/tzdata/America/Argentina/San_Luis
dist/lib/tcl/tzdata/America/Argentina/Tucuman
dist/lib/tcl/tzdata/America/Argentina/Ushuaia
dist/lib/tcl/tzdata/America/Aruba
dist/lib/tcl/tzdata/America/Asuncion
dist/lib/tcl/tzdata/America/Atikokan
dist/lib/tcl/tzdata/America/Atka
dist/lib/tcl/tzdata/America/Bahia
dist/lib/tcl/tzdata/America/Bahia_Banderas
dist/lib/tcl/tzdata/America/Barbados
dist/lib/tcl/tzdata/America/Indiana/Marengo
dist/lib/tcl/tzdata/America/Indiana/Petersburg
dist/lib/tcl/tzdata/America/Indiana/Tell_City
dist/lib/tcl/tzdata/America/Indiana/Vevay
dist/lib/tcl/tzdata/America/Indiana/Vincennes
dist/lib/tcl/tzdata/America/Indiana/Winamac
dist/lib/tcl/tzdata/America/Indianapolis
dist/lib/tcl/tzdata/America/Inuvik
dist/lib/tcl/tzdata/America/Iqaluit
dist/lib/tcl/tzdata/America/Jamaica
dist/lib/tcl/tzdata/America/Jujuy
dist/lib/tcl/tzdata/America/Juneau
dist/lib/tcl/tzdata/America/Kentucky/Louisville
dist/lib/tcl/tzdata/America/Kentucky/Monticello
dist/lib/tcl/tzdata/America/Knox_IN
dist/lib/tcl/tzdata/America/Kralendijk
dist/lib/tcl/tzdata/America/La_Paz
dist/lib/tcl/tzdata/America/Lima
dist/lib/tcl/tzdata/America/Los_Angeles
dist/lib/tcl/tzdata/America/Louisville
dist/lib/tcl/tzdata/America/Lower_Princes
dist/lib/tcl/tzdata/America/Maceio
dist/lib/tcl/tzdata/America/Managua
dist/lib/tcl/tzdata/America/Manaus
dist/lib/tcl/tzdata/America/Martinique
dist/lib/tcl/tzdata/America/Matamoros
dist/lib/tcl/tzdata/America/Mazatlan
dist/lib/tcl/tzdata/America/Mendoza
dist/lib/tcl/tzdata/America/Menominee
dist/lib/tcl/tzdata/America/Merida
dist/lib/tcl/tzdata/America/Metlakatla
dist/lib/tcl/tzdata/America/Mexico_City
dist/lib/tcl/tzdata/America/Miquelon
dist/lib/tcl/tzdata/America/Moncton
dist/lib/tcl/tzdata/America/Monterrey
dist/lib/tcl/tzdata/America/Montevideo
dist/lib/tcl/tzdata/America/Montreal
dist/lib/tcl/tzdata/America/Montserrat
dist/lib/tcl/tzdata/America/Nassau
dist/lib/tcl/tzdata/America/New_York
dist/lib/tcl/tzdata/America/Nipigon
dist/lib/tcl/tzdata/America/Nome
dist/lib/tcl/tzdata/America/Noronha
dist/lib/tcl/tzdata/America/North_Dakota/Beulah
dist/lib/tcl/tzdata/America/North_Dakota/Center
dist/lib/tcl/tzdata/America/North_Dakota/New_Salem
dist/lib/tcl/tzdata/America/Nuuk
dist/lib/tcl/tzdata/America/Ojinaga
dist/lib/tcl/tzdata/America/Panama
dist/lib/tcl/tzdata/America/Pangnirtung
dist/lib/tcl/tzdata/America/Paramaribo
dist/lib/tcl/tzdata/America/Phoenix
dist/lib/tcl/tzdata/America/Port-au-Prince
dist/lib/tcl/tzdata/America/Port_of_Spain
dist/lib/tcl/tzdata/America/Porto_Acre
dist/lib/tcl/tzdata/America/Rio_Branco
dist/lib/tcl/tzdata/America/Rosario
dist/lib/tcl/tzdata/America/Santa_Isabel
dist/lib/tcl/tzdata/America/Santarem
dist/lib/tcl/tzdata/America/Santiago
dist/lib/tcl/tzdata/America/Santo_Domingo
dist/lib/tcl/tzdata/America/Sao_Paulo
dist/lib/tcl/tzdata/America/Scoresbysund
dist/lib/tcl/tzdata/America/Shiprock
dist/lib/tcl/tzdata/America/Sitka
dist/lib/tcl/tzdata/America/St_Barthelemy
dist/lib/tcl/tzdata/America/St_Johns
dist/lib/tcl/tzdata/America/St_Kitts
dist/lib/tcl/tzdata/America/St_Lucia
dist/lib/tcl/tzdata/America/St_Thomas
dist/lib/tcl/tzdata/America/St_Vincent
dist/lib/tcl/tzdata/America/Swift_Current
dist/lib/tcl/tzdata/America/Tegucigalpa
dist/lib/tcl/tzdata/America/Thule
dist/lib/tcl/tzdata/America/Thunder_Bay
dist/lib/tcl/tzdata/America/Tijuana
dist/lib/tcl/tzdata/America/Toronto
dist/lib/tcl/tzdata/America/Tortola
build/lib/main.py
build/main/base_library.zip
build/main/CPU2017.012.fprate.refrate.txt
build/main/localpycs/pyimod01_archive.pyc
build/main/localpycs/pyimod02_importers.pyc
build/main/localpycs/pyimod03_ctypes.pyc
build/main/localpycs/struct.pyc
build/main/main.exe
build/main/main.exe.manifest
build/main/main.pkg
build/main/warn-main.txt
build/main/xref-main.html
CPU2017.003.intrate.refrate.txt
CPU2017.012.fprate.refrate.txt
CPU2017.032.intrate.refrate.txt
dist/lib/tcl/tzdata/America/Belem
dist/lib/tcl/tzdata/America/Belize
dist/lib/tcl/tzdata/America/Blanc-Sablon
dist/lib/tcl/tzdata/America/Boa_Vista
dist/lib/tcl/tzdata/America/Bogota
dist/lib/tcl/tzdata/America/Boise
dist/lib/tcl/tzdata/America/Buenos_Aires
dist/lib/tcl/tzdata/America/Cambridge_Bay
dist/lib/tcl/tzdata/America/Campo_Grande
dist/lib/tcl/tzdata/America/Cancun
dist/lib/tcl/tzdata/America/Caracas
dist/lib/tcl/tzdata/America/Catamarca
dist/lib/tcl/tzdata/America/Cayenne
dist/lib/tcl/tzdata/America/Cayman
dist/lib/tcl/tzdata/America/Chicago
dist/lib/tcl/tzdata/America/Chihuahua
dist/lib/tcl/tzdata/America/Coral_Harbour
dist/lib/tcl/tzdata/America/Cordoba
dist/lib/tcl/tzdata/America/Costa_Rica
dist/lib/tcl/tzdata/America/Creston
dist/lib/tcl/tzdata/America/Cuiaba
dist/lib/tcl/tzdata/America/Curacao
dist/lib/tcl/tzdata/America/Danmarkshavn
dist/lib/tcl/tzdata/America/Dawson
dist/lib/tcl/tzdata/America/Dawson_Creek
dist/lib/tcl/tzdata/America/Denver
main.egg-info/top_level.txt
main.egg-info/SOURCES.txt
main.egg-info/PKG-INFO
main.egg-info/dependency_links.txt
download.jpg
dist/tk86t.dll
dist/tcl86t.dll
dist/python310.dll
dist/main/VCRUNTIME140.dll
dist/main/python310.dll
dist/main/main.exe
dist/main/libssl-1_1.dll
dist/main/libcrypto-1_1.dll
dist/main/base_library.zip
dist/main.exe
dist/main-0.0.0-py3.10.egg
dist/libssl-1_1.dll
dist/library.zip
dist/libffi-7.dll
dist/libcrypto-1_1.dll
dist/lib/tk/tclIndex
dist/lib/tk/license.terms
dist/lib/tk/images/tai-ku.gif
dist/lib/tk/images/README
dist/lib/tk/images/pwrdLogo75.gif
dist/lib/tk/images/pwrdLogo200.gif
dist/lib/tk/images/pwrdLogo175.gif
dist/lib/tk/images/pwrdLogo150.gif
dist/lib/tk/images/pwrdLogo100.gif
dist/lib/tk/images/pwrdLogo.eps
dist/lib/tk/images/logoMed.gif
dist/lib/tk/images/logoLarge.gif
dist/lib/tk/images/logo64.gif
dist/lib/tk/images/logo100.gif
dist/lib/tk/images/logo.eps
dist/lib/tk/demos/widget
dist/lib/tk/demos/timer
dist/lib/tk/demos/tcolor
dist/lib/tk/demos/tclIndex
dist/lib/tk/demos/square
dist/lib/tk/demos/rolodex
dist/lib/tk/demos/rmt
dist/lib/tk/demos/README
dist/lib/tk/demos/license.terms
dist/lib/tk/demos/ixset
dist/lib/tk/demos/images/teapot.ppm
dist/lib/tk/demos/images/tcllogo.gif
dist/lib/tk/demos/images/pattern.xbm
dist/lib/tk/demos/images/ouster.png
dist/lib/tk/demos/images/noletter.xbm
dist/lib/tk/demos/images/letters.xbm
dist/lib/tk/demos/images/gray25.xbm
dist/lib/tk/demos/images/flagup.xbm
dist/lib/tk/demos/images/flagdown.xbm
dist/lib/tk/demos/images/earthris.gif
dist/lib/tk/demos/images/earthmenu.png
dist/lib/tk/demos/images/earth.gif
dist/lib/tk/demos/hello
dist/lib/tk/demos/browse
dist/lib/tcl/tzdata/Zulu
dist/lib/tcl/tzdata/WET
dist/lib/tcl/tzdata/W-SU
dist/lib/tcl/tzdata/UTC
dist/lib/tcl/tzdata/US/Samoa
dist/lib/tcl/tzdata/US/Pacific-New
dist/lib/tcl/tzdata/US/Pacific
dist/lib/tcl/tzdata/US/Mountain
dist/lib/tcl/tzdata/US/Michigan
dist/lib/tcl/tzdata/US/Indiana-Starke
dist/lib/tcl/tzdata/US/Hawaii
dist/lib/tcl/tzdata/US/Eastern
dist/lib/tcl/tzdata/US/East-Indiana
dist/lib/tcl/tzdata/US/Central
dist/lib/tcl/tzdata/US/Arizona
dist/lib/tcl/tzdata/US/Aleutian
dist/lib/tcl/tzdata/US/Alaska
dist/lib/tcl/tzdata/Universal
dist/lib/tcl/tzdata/UCT
dist/lib/tcl/tzdata/Turkey
dist/lib/tcl/tzdata/SystemV/YST9YDT
dist/lib/tcl/tzdata/SystemV/YST9
dist/lib/tcl/tzdata/SystemV/PST8PDT
dist/lib/tcl/tzdata/SystemV/PST8
dist/lib/tcl/tzdata/SystemV/MST7MDT
dist/lib/tcl/tzdata/SystemV/MST7
dist/lib/tcl/tzdata/SystemV/HST10
dist/lib/tcl/tzdata/SystemV/EST5EDT
dist/lib/tcl/tzdata/SystemV/EST5
dist/lib/tcl/tzdata/SystemV/CST6CDT
dist/lib/tcl/tzdata/SystemV/CST6
dist/lib/tcl/tzdata/SystemV/AST4ADT
dist/lib/tcl/tzdata/SystemV/AST4
dist/lib/tcl/tzdata/Singapore
dist/lib/tcl/tzdata/ROK
dist/lib/tcl/tzdata/ROC
dist/lib/tcl/tzdata/PST8PDT
dist/lib/tcl/tzdata/PRC
dist/lib/tcl/tzdata/Portugal
dist/lib/tcl/tzdata/Poland
dist/lib/tcl/tzdata/Pacific/Yap
dist/lib/tcl/tzdata/Pacific/Wallis
dist/lib/tcl/tzdata/Pacific/Wake
dist/lib/tcl/tzdata/Pacific/Truk
dist/lib/tcl/tzdata/Pacific/Tongatapu
dist/lib/tcl/tzdata/Pacific/Tarawa
dist/lib/tcl/tzdata/Pacific/Tahiti
dist/lib/tcl/tzdata/Pacific/Samoa
dist/lib/tcl/tzdata/Pacific/Saipan
dist/lib/tcl/tzdata/Pacific/Rarotonga
dist/lib/tcl/tzdata/Pacific/Port_Moresby
dist/lib/tcl/tzdata/Pacific/Ponape
dist/lib/tcl/tzdata/Pacific/Pohnpei
dist/lib/tcl/tzdata/Pacific/Pitcairn
dist/lib/tcl/tzdata/Pacific/Palau
dist/lib/tcl/tzdata/Pacific/Pago_Pago
dist/lib/tcl/tzdata/Pacific/Noumea
dist/lib/tcl/tzdata/Pacific/Norfolk
dist/lib/tcl/tzdata/Pacific/Niue
dist/lib/tcl/tzdata/Pacific/Nauru
dist/lib/tcl/tzdata/Pacific/Midway
dist/lib/tcl/tzdata/Pacific/Marquesas
dist/lib/tcl/tzdata/Pacific/Majuro
dist/lib/tcl/tzdata/Pacific/Kwajalein
dist/lib/tcl/tzdata/Pacific/Kosrae
dist/lib/tcl/tzdata/Pacific/Kiritimati
dist/lib/tcl/tzdata/Pacific/Kanton
dist/lib/tcl/tzdata/Pacific/Johnston
dist/lib/tcl/tzdata/Pacific/Honolulu
dist/lib/tcl/tzdata/Pacific/Guam
dist/lib/tcl/tzdata/Pacific/Guadalcanal
dist/lib/tcl/tzdata/Pacific/Gambier
dist/lib/tcl/tzdata/Pacific/Galapagos
dist/lib/tcl/tzdata/Pacific/Funafuti
dist/lib/tcl/tzdata/Pacific/Fiji
dist/lib/tcl/tzdata/Pacific/Fakaofo
dist/lib/tcl/tzdata/Pacific/Enderbury
dist/lib/tcl/tzdata/Pacific/Efate
dist/lib/tcl/tzdata/Pacific/Easter
dist/lib/tcl/tzdata/Pacific/Chuuk
dist/lib/tcl/tzdata/Pacific/Chatham
dist/lib/tcl/tzdata/Pacific/Bougainville
dist/lib/tcl/tzdata/Pacific/Auckland
dist/lib/tcl/tzdata/Pacific/Apia
dist/lib/tcl/tzdata/NZ-CHAT
dist/lib/tcl/tzdata/NZ
dist/lib/tcl/tzdata/Navajo
dist/lib/tcl/tzdata/MST7MDT
dist/lib/tcl/tzdata/MST
dist/lib/tcl/tzdata/Mexico/General
dist/lib/tcl/tzdata/Mexico/BajaSur
dist/lib/tcl/tzdata/Mexico/BajaNorte
dist/lib/tcl/tzdata/MET
dist/lib/tcl/tzdata/Libya
dist/lib/tcl/tzdata/Kwajalein
dist/lib/tcl/tzdata/Japan
dist/lib/tcl/tzdata/Jamaica
dist/lib/tcl/tzdata/Israel
dist/lib/tcl/tzdata/Iran
dist/lib/tcl/tzdata/Indian/Reunion
dist/lib/tcl/tzdata/Indian/Mayotte
dist/lib/tcl/tzdata/Indian/Mauritius
dist/lib/tcl/tzdata/Indian/Maldives
dist/lib/tcl/tzdata/Indian/Mahe
dist/lib/tcl/tzdata/Indian/Kerguelen
dist/lib/tcl/tzdata/Indian/Comoro
dist/lib/tcl/tzdata/Indian/Cocos
dist/lib/tcl/tzdata/Indian/Christmas
dist/lib/tcl/tzdata/Indian/Chagos
dist/lib/tcl/tzdata/Indian/Antananarivo
dist/lib/tcl/tzdata/Iceland
dist/lib/tcl/tzdata/HST
dist/lib/tcl/tzdata/Hongkong
dist/lib/tcl/tzdata/Greenwich
dist/lib/tcl/tzdata/GMT0
dist/lib/tcl/tzdata/GMT-0
dist/lib/tcl/tzdata/GMT+0
dist/lib/tcl/tzdata/GMT
dist/lib/tcl/tzdata/GB-Eire
dist/lib/tcl/tzdata/GB
dist/lib/tcl/tzdata/Europe/Zurich
dist/lib/tcl/tzdata/Europe/Zaporozhye
dist/lib/tcl/tzdata/Europe/Zagreb
dist/lib/tcl/tzdata/Europe/Warsaw
dist/lib/tcl/tzdata/Europe/Volgograd
dist/lib/tcl/tzdata/Europe/Vilnius
dist/lib/tcl/tzdata/Europe/Vienna
dist/lib/tcl/tzdata/Europe/Vatican
dist/lib/tcl/tzdata/Europe/Vaduz
dist/lib/tcl/tzdata/Europe/Uzhgorod
dist/lib/tcl/tzdata/Europe/Ulyanovsk
dist/lib/tcl/tzdata/Europe/Tiraspol
dist/lib/tcl/tzdata/Europe/Tirane
dist/lib/tcl/tzdata/Europe/Tallinn
dist/lib/tcl/tzdata/Europe/Stockholm
dist/lib/tcl/tzdata/Europe/Sofia
dist/lib/tcl/tzdata/Europe/Skopje
dist/lib/tcl/tzdata/Europe/Simferopol
dist/lib/tcl/tzdata/Europe/Saratov
dist/lib/tcl/tzdata/Europe/Sarajevo
dist/lib/tcl/tzdata/Europe/San_Marino
dist/lib/tcl/tzdata/Europe/Samara
dist/lib/tcl/tzdata/Europe/Rome
dist/lib/tcl/tzdata/Europe/Riga
dist/lib/tcl/tzdata/Europe/Prague
dist/lib/tcl/tzdata/Europe/Podgorica
dist/lib/tcl/tzdata/Europe/Paris
dist/lib/tcl/tzdata/Europe/Oslo
dist/lib/tcl/tzdata/Europe/Nicosia
dist/lib/tcl/tzdata/Europe/Moscow
dist/lib/tcl/tzdata/Europe/Monaco
dist/lib/tcl/tzdata/Europe/Minsk
dist/lib/tcl/tzdata/Europe/Mariehamn
dist/lib/tcl/tzdata/Europe/Malta
dist/lib/tcl/tzdata/Europe/Madrid
dist/lib/tcl/tzdata/Europe/Luxembourg
dist/lib/tcl/tzdata/Europe/London
dist/lib/tcl/tzdata/Europe/Ljubljana
dist/lib/tcl/tzdata/Europe/Lisbon
dist/lib/tcl/tzdata/Europe/Kirov
dist/lib/tcl/tzdata/Europe/Kiev
dist/lib/tcl/tzdata/Europe/Kaliningrad
dist/lib/tcl/tzdata/Europe/Jersey
dist/lib/tcl/tzdata/Europe/Istanbul
dist/lib/tcl/tzdata/Europe/Isle_of_Man
dist/lib/tcl/tzdata/Europe/Helsinki
dist/lib/tcl/tzdata/Europe/Guernsey
dist/lib/tcl/tzdata/Europe/Gibraltar
dist/lib/tcl/tzdata/Europe/Dublin
dist/lib/tcl/tzdata/Europe/Copenhagen
dist/lib/tcl/tzdata/Europe/Chisinau
dist/lib/tcl/tzdata/Europe/Busingen
dist/lib/tcl/tzdata/Europe/Budapest
dist/lib/tcl/tzdata/Europe/Bucharest
dist/lib/tcl/tzdata/Europe/Brussels
dist/lib/tcl/tzdata/Europe/Bratislava
dist/lib/tcl/tzdata/Europe/Berlin
dist/lib/tcl/tzdata/Europe/Belgrade
dist/lib/tcl/tzdata/Europe/Belfast
dist/lib/tcl/tzdata/Europe/Athens
dist/lib/tcl/tzdata/Europe/Astrakhan
dist/lib/tcl/tzdata/Europe/Andorra
dist/lib/tcl/tzdata/Europe/Amsterdam
dist/lib/tcl/tzdata/Etc/Zulu
dist/lib/tcl/tzdata/Etc/UTC
dist/lib/tcl/tzdata/Etc/Universal
dist/lib/tcl/tzdata/Etc/UCT
dist/lib/tcl/tzdata/Etc/Greenwich
dist/lib/tcl/tzdata/Etc/GMT0
dist/lib/tcl/tzdata/Etc/GMT-9
dist/lib/tcl/tzdata/Etc/GMT-8
dist/lib/tcl/tzdata/Etc/GMT-7
dist/lib/tcl/tzdata/Etc/GMT-6
dist/lib/tcl/tzdata/Etc/GMT-5
dist/lib/tcl/tzdata/Etc/GMT-4
dist/lib/tcl/tzdata/Etc/GMT-3
dist/lib/tcl/tzdata/Etc/GMT-2
dist/lib/tcl/tzdata/Etc/GMT-14
dist/lib/tcl/tzdata/Etc/GMT-13
dist/lib/tcl/tzdata/Etc/GMT-12
dist/lib/tcl/tzdata/Etc/GMT-11
dist/lib/tcl/tzdata/Etc/GMT-10
dist/lib/tcl/tzdata/Etc/GMT-1
dist/lib/tcl/tzdata/Etc/GMT-0
dist/lib/tcl/tzdata/Etc/GMT+9
dist/lib/tcl/tzdata/Etc/GMT+8
dist/lib/tcl/tzdata/Etc/GMT+7
dist/lib/tcl/tzdata/Etc/GMT+6
dist/lib/tcl/tzdata/Etc/GMT+5
dist/lib/tcl/tzdata/Etc/GMT+4
dist/lib/tcl/tzdata/Etc/GMT+3
dist/lib/tcl/tzdata/Etc/GMT+2
dist/lib/tcl/tzdata/Etc/GMT+12
dist/lib/tcl/tzdata/Etc/GMT+11
dist/lib/tcl/tzdata/Etc/GMT+10
dist/lib/tcl/tzdata/Etc/GMT+1
dist/lib/tcl/tzdata/Etc/GMT+0
dist/lib/tcl/tzdata/Etc/GMT
dist/lib/tcl/tzdata/EST5EDT
dist/lib/tcl/tzdata/EST
dist/lib/tcl/tzdata/Eire
dist/lib/tcl/tzdata/Egypt
dist/lib/tcl/tzdata/EET
dist/lib/tcl/tzdata/Cuba
dist/lib/tcl/tzdata/CST6CDT
dist/lib/tcl/tzdata/Chile/EasterIsland
dist/lib/tcl/tzdata/Chile/Continental
dist/lib/tcl/tzdata/CET
dist/lib/tcl/tzdata/Canada/Yukon
dist/lib/tcl/tzdata/Canada/Saskatchewan
dist/lib/tcl/tzdata/Canada/Pacific
dist/lib/tcl/tzdata/Canada/Newfoundland
dist/lib/tcl/tzdata/Canada/Mountain
dist/lib/tcl/tzdata/Canada/Eastern
dist/lib/tcl/tzdata/Canada/East-Saskatchewan
dist/lib/tcl/tzdata/Canada/Central
dist/lib/tcl/tzdata/Canada/Atlantic
dist/lib/tcl/tzdata/Brazil/West
dist/lib/tcl/tzdata/Brazil/East
dist/lib/tcl/tzdata/Brazil/DeNoronha
dist/lib/tcl/tzdata/Brazil/Acre
dist/lib/tcl/tzdata/Australia/Yancowinna
dist/lib/tcl/tzdata/Australia/West
dist/lib/tcl/tzdata/Australia/Victoria
dist/lib/tcl/tzdata/Australia/Tasmania
dist/lib/tcl/tzdata/Australia/Sydney
dist/lib/tcl/tzdata/Australia/South
dist/lib/tcl/tzdata/Australia/Queensland
dist/lib/tcl/tzdata/Australia/Perth
dist/lib/tcl/tzdata/Australia/NSW
dist/lib/tcl/tzdata/Australia/North
dist/lib/tcl/tzdata/Australia/Melbourne
dist/lib/tcl/tzdata/Australia/Lord_Howe
dist/lib/tcl/tzdata/Australia/Lindeman
dist/lib/tcl/tzdata/Australia/LHI
dist/lib/tcl/tzdata/Australia/Hobart
dist/lib/tcl/tzdata/Australia/Eucla
dist/lib/tcl/tzdata/Australia/Darwin
dist/lib/tcl/tzdata/Australia/Currie
dist/lib/tcl/tzdata/Australia/Canberra
dist/lib/tcl/tzdata/Australia/Broken_Hill
dist/lib/tcl/tzdata/Australia/Brisbane
dist/lib/tcl/tzdata/Australia/Adelaide
dist/lib/tcl/tzdata/Australia/ACT
dist/lib/tcl/tzdata/Atlantic/Stanley
dist/lib/tcl/tzdata/Atlantic/St_Helena
dist/lib/tcl/tzdata/Atlantic/South_Georgia
dist/lib/tcl/tzdata/Atlantic/Reykjavik
dist/lib/tcl/tzdata/Atlantic/Madeira
dist/lib/tcl/tzdata/Atlantic/Jan_Mayen
dist/lib/tcl/tzdata/Atlantic/Faroe
dist/lib/tcl/tzdata/Atlantic/Faeroe
dist/lib/tcl/tzdata/Atlantic/Cape_Verde
dist/lib/tcl/tzdata/Atlantic/Canary
dist/lib/tcl/tzdata/Atlantic/Bermuda
dist/lib/tcl/tzdata/Atlantic/Azores
dist/lib/tcl/tzdata/Asia/Yerevan
dist/lib/tcl/tzdata/Asia/Yekaterinburg
dist/lib/tcl/tzdata/Asia/Yangon
dist/lib/tcl/tzdata/Asia/Yakutsk
dist/lib/tcl/tzdata/Asia/Vladivostok
dist/lib/tcl/tzdata/Asia/Vientiane
dist/lib/tcl/tzdata/Asia/Ust-Nera
dist/lib/tcl/tzdata/Asia/Urumqi
dist/lib/tcl/tzdata/Asia/Ulan_Bator
dist/lib/tcl/tzdata/Asia/Ulaanbaatar
dist/lib/tcl/tzdata/Asia/Ujung_Pandang
dist/lib/tcl/tzdata/Asia/Tomsk
dist/lib/tcl/tzdata/Asia/Tokyo
dist/lib/tcl/tzdata/Asia/Thimphu
dist/lib/tcl/tzdata/Asia/Thimbu
dist/lib/tcl/tzdata/Asia/Tel_Aviv
dist/lib/tcl/tzdata/Asia/Tehran
dist/lib/tcl/tzdata/Asia/Tbilisi
dist/lib/tcl/tzdata/Asia/Tashkent
dist/lib/tcl/tzdata/Asia/Taipei
dist/lib/tcl/tzdata/Asia/Srednekolymsk
dist/lib/tcl/tzdata/Asia/Singapore
dist/lib/tcl/tzdata/Asia/Shanghai
dist/lib/tcl/tzdata/Asia/Seoul
dist/lib/tcl/tzdata/Asia/Samarkand
dist/lib/tcl/tzdata/Asia/Sakhalin
dist/lib/tcl/tzdata/Asia/Saigon
dist/lib/tcl/tzdata/Asia/Riyadh
dist/lib/tcl/tzdata/Asia/Rangoon
dist/lib/tcl/tzdata/Asia/Qyzylorda
dist/lib/tcl/tzdata/Asia/Qostanay
dist/lib/tcl/tzdata/Asia/Qatar
dist/lib/tcl/tzdata/Asia/Pyongyang
dist/lib/tcl/tzdata/Asia/Pontianak
dist/lib/tcl/tzdata/Asia/Phnom_Penh
dist/lib/tcl/tzdata/Asia/Oral
dist/lib/tcl/tzdata/Asia/Omsk
dist/lib/tcl/tzdata/Asia/Novosibirsk
dist/lib/tcl/tzdata/Asia/Novokuznetsk
dist/lib/tcl/tzdata/Asia/Nicosia
dist/lib/tcl/tzdata/Asia/Muscat
dist/lib/tcl/tzdata/Asia/Manila
dist/lib/tcl/tzdata/Asia/Makassar
dist/lib/tcl/tzdata/Asia/Magadan
dist/lib/tcl/tzdata/Asia/Macau
dist/lib/tcl/tzdata/Asia/Macao
dist/lib/tcl/tzdata/Asia/Kuwait
dist/lib/tcl/tzdata/Asia/Kuching
dist/lib/tcl/tzdata/Asia/Kuala_Lumpur
dist/lib/tcl/tzdata/Asia/Krasnoyarsk
dist/lib/tcl/tzdata/Asia/Kolkata
dist/lib/tcl/tzdata/Asia/Khandyga
dist/lib/tcl/tzdata/Asia/Katmandu
dist/lib/tcl/tzdata/Asia/Kathmandu
dist/lib/tcl/tzdata/Asia/Kashgar
dist/lib/tcl/tzdata/Asia/Karachi
dist/lib/tcl/tzdata/Asia/Kamchatka
dist/lib/tcl/tzdata/Asia/Kabul
dist/lib/tcl/tzdata/Asia/Jerusalem
dist/lib/tcl/tzdata/Asia/Jayapura
dist/lib/tcl/tzdata/Asia/Jakarta
dist/lib/tcl/tzdata/Asia/Istanbul
dist/lib/tcl/tzdata/Asia/Irkutsk
dist/lib/tcl/tzdata/Asia/Hovd
dist/lib/tcl/tzdata/Asia/Hong_Kong
dist/lib/tcl/tzdata/Asia/Ho_Chi_Minh
dist/lib/tcl/tzdata/Asia/Hebron
dist/lib/tcl/tzdata/Asia/Harbin
dist/lib/tcl/tzdata/Asia/Gaza
dist/lib/tcl/tzdata/Asia/Famagusta
dist/lib/tcl/tzdata/Asia/Dushanbe
dist/lib/tcl/tzdata/Asia/Dubai
dist/lib/tcl/tzdata/Asia/Dili
dist/lib/tcl/tzdata/Asia/Dhaka
dist/lib/tcl/tzdata/Asia/Damascus
dist/lib/tcl/tzdata/Asia/Dacca
dist/lib/tcl/tzdata/Asia/Colombo
dist/lib/tcl/tzdata/Asia/Chungking
dist/lib/tcl/tzdata/Asia/Chongqing
dist/lib/tcl/tzdata/Asia/Choibalsan
dist/lib/tcl/tzdata/Asia/Chita
dist/lib/tcl/tzdata/Asia/Calcutta
dist/lib/tcl/tzdata/Asia/Brunei
dist/lib/tcl/tzdata/Asia/Bishkek
dist/lib/tcl/tzdata/Asia/Beirut
dist/lib/tcl/tzdata/Asia/Barnaul
dist/lib/tcl/tzdata/Asia/Bangkok
dist/lib/tcl/tzdata/Asia/Baku
dist/lib/tcl/tzdata/Asia/Bahrain
dist/lib/tcl/tzdata/Asia/Baghdad
dist/lib/tcl/tzdata/Asia/Atyrau
dist/lib/tcl/tzdata/Asia/Ashkhabad
dist/lib/tcl/tzdata/Asia/Ashgabat
dist/lib/tcl/tzdata/Asia/Aqtobe
dist/lib/tcl/tzdata/Asia/Aqtau
dist/lib/tcl/tzdata/Asia/Anadyr
dist/lib/tcl/tzdata/Asia/Amman
dist/lib/tcl/tzdata/Asia/Almaty
dist/lib/tcl/tzdata/Asia/Aden
dist/lib/tcl/tzdata/Arctic/Longyearbyen
dist/lib/tcl/tzdata/Antarctica/Vostok
dist/lib/tcl/tzdata/Antarctica/Troll
dist/lib/tcl/tzdata/Antarctica/Syowa
dist/lib/tcl/tzdata/Antarctica/South_Pole
dist/lib/tcl/tzdata/Antarctica/Rothera
dist/lib/tcl/tzdata/Antarctica/Palmer
dist/lib/tcl/tzdata/Antarctica/McMurdo
dist/lib/tcl/tzdata/Antarctica/Mawson
dist/lib/tcl/tzdata/Antarctica/Macquarie
dist/lib/tcl/tzdata/Antarctica/DumontDUrville
dist/lib/tcl/tzdata/Antarctica/Davis
dist/lib/tcl/tzdata/Antarctica/Casey
dist/lib/tcl/tzdata/America/Yellowknife
dist/lib/tcl/tzdata/America/Yakutat
dist/lib/tcl/tzdata/America/Winnipeg
dist/lib/tcl/tzdata/America/Whitehorse
dist/lib/tcl/tzdata/America/Virgin
dist/lib/tcl/tzdata/America/Vancouver
dist/lib/tcl/tzdata/America/Resolute
dist/lib/tcl/tzdata/America/Regina
dist/lib/tcl/tzdata/America/Recife
dist/lib/tcl/tzdata/America/Rankin_Inlet
dist/lib/tcl/tzdata/America/Rainy_River
dist/lib/tcl/tzdata/America/Punta_Arenas
dist/lib/tcl/tzdata/America/Puerto_Rico
dist/lib/tcl/tzdata/America/Porto_Velho
dist/lib/tcl/tzdata/America/Marigot
dist/lib/tcl/tzdata/America/Indiana/Knox
dist/lib/tcl/tzdata/America/Indiana/Indianapolis
dist/lib/tcl/tzdata/America/Hermosillo
dist/lib/tcl/tzdata/America/Havana
dist/lib/tcl/tzdata/America/Halifax
dist/lib/tcl/tzdata/America/Guyana
dist/lib/tcl/tzdata/America/Guayaquil
dist/lib/tcl/tzdata/America/Guatemala
dist/lib/tcl/tzdata/America/Guadeloupe
dist/lib/tcl/tzdata/America/Grenada
dist/lib/tcl/tzdata/America/Grand_Turk
dist/lib/tcl/tzdata/America/Goose_Bay
dist/lib/tcl/tzdata/America/Godthab
dist/lib/tcl/tzdata/America/Glace_Bay
dist/lib/tcl/tzdata/America/Fortaleza
dist/lib/tcl/tzdata/America/Fort_Wayne
dist/lib/tcl/tzdata/America/Fort_Nelson
dist/lib/tcl/tzdata/America/Ensenada
dist/lib/tcl/tzdata/America/El_Salvador
dist/lib/tcl/tzdata/America/Eirunepe
dist/lib/tcl/tzdata/America/Edmonton
dist/lib/tcl/tzdata/America/Dominica
dist/lib/tcl/tzdata/America/Detroit
*.xlsx
*.spec
